* {
    font-family: Calibri, sans-serif;
}

input {
    margin: 5px;
}

button {
    margin: 5px;
}

.ocultar {
    display: none;
}

.BorderRed {
    border: 1px solid red;
}
.borderGreen {
    border: 1px solid greenyellow;
}